<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EventLogFile" value="CC_SUPPORT_EMAIL" />
    <!--<add key="xWebSiteLocationContext" value="http://localhost:81/admin.mvc"/>-->
    <!--<add key="WebSiteLocationContext" value="http://cc-staging.wilsonmiller.co.uk/admin.mvc"/>-->
    <!--<add key="RazorPageSourceName" value="PrintResult3"/>-->
    <!--<add key="RazorPageForPDF" value="PrintResult3AsBytes"/>-->
    <!--<add key="RazorPageForHTML" value="PrintResult3AsHTML"/>-->
    <!--<add key="HTMLPageForPDF" value="HTMLAsBytes"/>-->
    <add key="DueTime" value="10000" />
    <add key="Interval" value="100000" />
    <add key="UseTestEMailAddress" value="false" />
    <add key="SMTPClientHostTest" value="smtp.mail.yahoo.com" />
    <add key="SMTPClientUserEMailAddressTest" value="protechdm@yahoo.com" />
    <add key="SMTPNetworkCredentialsClientUserIDTest" value="protechdm@yahoo.com" />
    <add key="SMTPNetworkCredentialsClientUserPasswordTest" value="pr0tech2011" />
    <add key="SMTPClientUserDisplayNameTest" value="Test CompareCloudware Automated Emailer" />
    <add key="SMTPEnableSSLTest" value="true" />
    <add key="SMTPPortTest" value="587" />
    <add key="SMTPMailToTest" value="protechdm@yahoo.com" />
    <add key="SMTPClientHost" value="itbesva.itbuilder.co.uk" />
    <add key="SMTPClientUserEMailAddress" value="automatedemailer@wilsonmiller.co.uk" />
    <!--<add key="SMTPNetworkCredentialsClientUserID" value="wilsonmiller.co.uk"/>-->
    <add key="SMTPNetworkCredentialsClientUserID" value="wm-compare" />
    <!--<add key="SMTPNetworkCredentialsClientUserPassword" value="qhwVL6ii"/>-->
    <add key="SMTPNetworkCredentialsClientUserPassword" value="s3nDm3ssage" />
    <add key="SMTPEnableSSL" value="false" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPMailTo" value="cdixon@wilsonmiller.co.uk;sgardner@wilsonmiller.co.uk;protechdm@yahoo.com" />
    <!--<add key="SMTPMailTo" value="protechdm@yahoo.com" />-->
    <add key="MailSubject" value="Your requested cloudware application is attached" />
    <add key="SMTPClientUserDisplayName" value="CompareCloudware Automated Emailer" />
    <!--<add key="MailTemplateResourceName" value="CompareCloudware.Web.Helpers.Receipt.txt"/>-->
    <add key="MailSubjectNewProvider" value="A new Provider has registered" />
    <add key="MailSubjectExistingProvider" value="An existing provider has enquired" />
    <add key="MailTemplateResourceNameNewProvider" value="WSMailSupport.Helpers.NewProviderReceipt.txt" />
    <add key="MailTemplateResourceNameExistingProvider" value="WSMailSupport.Helpers.ExistingProviderReceipt.txt" />
    <!--<add key="SaveToTestFile" value="true"/>-->
    <!--<add key="TestFileName" value="testfile.pdf"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServicesOLD" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--LAPTOP-->
    <add name="xCompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=CompareCloudware;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="xCustomApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;Uid=cc;Pwd=ccpassword;" providerName="System.Data.SqlClient" />
    <!--IT BUILDER-->
    <add name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=94.126.43.196;Initial Catalog=CompareCloudware;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>