@model CompareCloudware.Web.Models.CloudApplicationUserReviewModel
@using CompareCloudware.Domain.Models
@using System.Configuration;
@*home display TEST template
*@

<script>
    $(document).ready(function () {

        CheckTextHeight();

        function CheckTextHeight() {
            //debugger;
            var reviewText = $('.review-text');

            $.each(reviewText, function (key, value) {
                //debugger;
                var textHeightCSS = $(this).css('height');
                var ellipsify = $(this).parent();
                $(ellipsify).css('height', textHeightCSS);

                var textHeight = $(this).height();
                if (textHeight == 179) {
                    textHeight -= 15;
                    var preDots = $(ellipsify).find('.pre-dots-15px-8-lines');
                    $(preDots).css('height', textHeight + 'px');
                }
                else {
                    var dots = $(ellipsify).find('.dots-15px-8-lines');
                    $(dots).empty();
                }

            });

        }
    });
</script>

@{bool suppressUserReviewNumberOfStaff = Convert.ToBoolean(ConfigurationManager.AppSettings["SuppressUserReviewNumberOfStaff"]); }
<div class="product-rating">
    <div>
        <div style="float:left;overflow:visible;width:100%;">
            <table style="width:100%;">
@*                <tr>
                    <td class="product-rating-header">
                        <label class="product-rating-label font-bold-15px-purple">Product rating</label>
                    </td>
                </tr>*@
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">@Model.ChosenIndustry.description</label>
                        <div class="overall-rating-container">
                            @{Html.RenderPartial("CloudApplicationCloudRating", Model.CloudApplicationUserReviewOverallRating);}
                        </div>
                    </td>
                </tr>
                @if (!suppressUserReviewNumberOfStaff)
                {
                <tr>
                    <td>
                        <label class="font-bold-11px-black">@Model.CloudApplicationUserReviewEmployeeCount staff</label>
                    </td>
                </tr>
                }
@*                <tr>
                    <td>
                        <label class="font-normal-11px-black">@Model.CloudApplicationRatingReviewerCompany</label>
                    </td>
                </tr>*@
                <tr>
                    <td class="font-normal-11px-black">
                        <div class="ellipsify-15px-8-lines">
                            <div class="pre-dots-15px-8-lines">
                            </div>
                            <div class="dots-15px-8-lines">
                                &hellip;
                            </div>

                            <label class="font-normal-11px-black review-text">
                            @Model.CloudApplicationUserReviewText
                            </label>
                            
                            
                            <span class="hidedots1-15px-8-lines"></span>
                            <div class="hidedots2-15px-8-lines">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        ?
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
