.font-normal-11px-black
{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.font-normal-12px-black
{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.font-normal-11px-purple
{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #800080;
}

.font-normal-13px-purple
{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #800080;
}

.font-normal-13px-black
{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.font-normal-13px-blue
{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #6699FF;
}

.font-normal-11px-blue
{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #6699FF;
}

.font-normal-11px-red
{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #FC371B;
}

.font-normal-11px-white
{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

.font-bold-11px-white
{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

.font-normal-22px-purple
{
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    color: #800080;
}

.font-bold-11px-purple
{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #800080;
}

.font-bold-22px-purple
{
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color: #800080;
    font-family: Vagabond;
}

.font-bold-13px
{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
}





/* ADD FONT COLOUR */
.font-13px-blue
{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #6699FF;
}

.font-bold-12px-purple
{
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    color: #800080;
}

.font-bold-13px-purple
{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: #800080;
}

.font-bold-11px-black
{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.font-bold-13px-black
{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

.font-normal-13px-white
{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

.font-normal-15px-white
{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

.font-22px-white
{
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}
