<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsServiceWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->



  </configSections>
  <userSettings>

    <WindowsServiceWrapper.Properties.Settings>
      <setting name="ConfiguredFileName" serializeAs="String">
        <value>ServiceToBeMonitored.exe.config</value>
      </setting>
      <setting name="SERVICE_NAME" serializeAs="String">
        <value>COMPARE CLOUDWARE APPLICATION REQUESTS EMAILER</value>
      </setting>
      <setting name="TEST_SERVICE_NAME" serializeAs="String">
        <value>W32Time</value>
      </setting>
    </WindowsServiceWrapper.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="EventLogFile" value="CC_EMAIL"/>
    <add key="WebSiteLocationContext" value="http://localhost:81/admin"/>
    <add key="xWebSiteLocationContext" value="http://cc-staging.wilsonmiller.co.uk/admin"/>
    <add key="RazorPageSourceName" value="PrintResult3"/>
    <add key="RazorPageForPDF" value="PrintResult3AsBytes"/>
    <add key="RazorPageForHTML" value="PrintResult3AsHTML"/>
    <add key="HTMLPageForPDF" value="HTMLAsBytes"/>
    <add key="DueTime" value="10001"/>
    <add key="Interval" value="10001"/>

    <add key="UseTestEMailAddress" value="false"/>

    <add key="SMTPClientHostTest" value="smtp.mail.yahoo.com"/>
    <add key="SMTPClientUserEMailAddressTest" value="protechdm@yahoo.com"/>
    <add key="SMTPNetworkCredentialsClientUserIDTest" value="protechdm@yahoo.com"/>
    <add key="SMTPNetworkCredentialsClientUserPasswordTest" value="pr0tech2011"/>
    <add key="SMTPClientUserDisplayNameTest" value="Test CompareCloudware Automated Emailer"/>
    <add key="SMTPEnableSSLTest" value="true"/>
    <add key="SMTPPortTest" value="587"/>

    <add key="SMTPClientHost" value="itbesva.itbuilder.co.uk"/>
    <add key="SMTPClientUserEMailAddress" value="automatedemailer@wilsonmiller.co.uk"/>
    <!--<add key="SMTPNetworkCredentialsClientUserID" value="wilsonmiller.co.uk"/>-->
    <add key="SMTPNetworkCredentialsClientUserID" value="wm-compare"/>
    <!--<add key="SMTPNetworkCredentialsClientUserPassword" value="qhwVL6ii"/>-->
    <add key="SMTPNetworkCredentialsClientUserPassword" value="s3nDm3ssage"/>
    <add key="SMTPEnableSSL" value="false"/>
    <add key="SMTPPort" value="587"/>
    <!--<add key="SMTPMailTo" value="cdixon@wilsonmiller.co.uk;sgardner@wilsonmiller.co.uk"/>-->
    <add key="SMTPMailTo" value="protechdm@yahoo.com;amiller@therubiconagency.com;rbrooks@therubiconagency.com"/>

    <add key="MailSubject" value="Your requested cloudware application is attached"/>
    <add key="MailSubjectNewProvider" value="A new Provider has registered"/>
    <add key="MailSubjectExistingProvider" value="An existing provider has enquired"/>
    <add key="MailSubjectTry" value="A new try request"/>
    <add key="MailSubjectBuy" value="A new buy request"/>

    <add key="SMTPClientUserDisplayName" value="CompareCloudware Automated Emailer"/>
    <!--<add key="MailTemplateResourceName" value="CompareCloudware.Web.Helpers.Receipt.txt"/>-->
    
    <add key="MailTemplateResourceName" value="WSMailPDF.Helpers.Receipt.txt"/>
    <add key="MailTemplateResourceNameNewProvider" value="WSMailSupport.Helpers.NewProviderReceipt.txt"/>
    <add key="MailTemplateResourceNameExistingProvider" value="WSMailSupport.Helpers.ExistingProviderReceipt.txt"/>
    <add key="MailTemplateResourceNameTry" value="WSMailTryBuy.Helpers.TryReceipt.txt"/>
    <add key="MailTemplateResourceNameBuy" value="WSMailTryBuy.Helpers.BuyReceipt.txt"/>

    <add key="SaveToTestFile" value="true"/>
    <add key="TestFileName" value="testfile"/>
    <add key="TestFileNameAsHTML" value="testfile"/>

    <!-- BUSINESS PARTNER-->
    <add key="BusinessPartnerID" value="4"/>
    <add key="BusinessPartnerControllerActionForHTML" value="BusinessPartner"/>
    <add key="BusinessPartnerMailSubject" value="Thank you for registering to become a Business Partner"/>

    <!-- STRATEGIC PARTNER-->
    <add key="StrategicPartnerID" value="5"/>
    <add key="StrategicPartnerControllerActionForHTML" value="StrategicPartner"/>
    <add key="StrategicPartnerMailSubject" value="Thank you for registering to become a Strategic Partner"/>

    <!-- REFER REWARD PARTNER-->
    <add key="ReferRewardPartnerID" value="6"/>
    <add key="ReferRewardControllerActionForHTML" value="ReferReward"/>
    <add key="ReferRewardPartnerMailSubject" value="Thank you for registering to become a Refer Reward Partner"/>

    <!-- SEND TO COLLEAGUE-->
    <add key="SendToColleagueID" value="7"/>
    <add key="SendToColleagueControllerActionForHTML" value="SendToColleague"/>
    <add key="SendToColleagueMailSubject" value="thought you might be interested in this..."/>
























    <add key="TestMode" value="true"/>
    <!-- set to true to show internal/debug fields in VX model -->
    <add key="VendorTestMode" value="false"/>
    <add key="HomePageURLDev" value="../home.htm"/>
    <add key="HomePageURLLive" value="http://cc-staging.wilsonmiller.co.uk/"/>
    <add key="ShowDiagnostics" value="true"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2000"/>


    <add key="LogosFolder1" value="../../Images/Logos/"/>
    <add key="LogosFolder" value="/Images/Logos/"/>
    <add key="VideosFolder" value="Images/Videos/"/>
    <add key="VideoContainerFormat" value="MP4"/>
    <add key="WhitePapersFolder" value="J:\CompareCloudware\CompareCloudware.Web\Documents\WhitePapers\"/>
    <add key="CaseStudiesFolder" value="J:\CompareCloudware\CompareCloudware.Web\Documents\CaseStudies\"/>
    <add key="UseWeighting" value="true"/>
    <add key="FacebookPingActive" value="true"/>
    <add key="TwitterPingActive" value="true"/>
    <add key="LinkedInPingActive" value="true"/>
    <add key="oldZeroResults" value="Sorry, there is no cloudware with those characteristics. Please refine your comparison."/>
    <add key="ZeroResults" value="Oh dear, we can't seem to find any cloudware with those features. Please search again."/>
    <!-- set to true to take user straight to VX model -->
    <add key="DummyVXMode" value="true"/>
    <add key="SuppressUserReviewNumberOfStaff" value="true"/>
    <add key="UseExchangeRatesForSorting" value="true"/>

    <add key="VideoWidth" value="560"/>
    <add key="HeightToWidthFactor" value="0.75"/>

    <add key="SearchResultsPerPage" value="10"/>
    <add key="SearchResultsPerPageHomePageFeatured" value="30"/>
    <add key="SearchResultsPerPageHomePageNew" value="30"/>
    <add key="SearchResultsPerPageHomePageTop10" value="10"/>
    <add key="SearchResultsPerPageCategoryPageFeatured" value="30"/>
    <add key="SearchResultsPerPageCategoryPageNew" value="30"/>
    <add key="SearchResultsPerPageCategoryPageTop10" value="10"/>

    <add key="GlobalSearchResultsPerPage" value="20"/>

    <add key="UserReviewsPerShop" value="5"/>
    <add key="ProductReviewsPerShop" value="5"/>

    <add key="TwitterConsumerKey" value="NgdCZRR4H9CpX11e3YsOzQ"/>
    <add key="TwitterConsumerSecret" value="PGWGvCHLhTP1WEp1ioIOpakwwB1fL3Gagp14khmN1lE"/>
    <add key="TwitterAccessToken" value="26187182-nwSwCobtrCopGWcXwymzddTmNEzWDckZM9Sv1AZI"/>
    <add key="TwitterAccessTokenSecret" value="qTR76kABYIV2cdL98lHmTLWrtVPzgeFqmvjNeNnHNXE"/>

    <add key="TermsAndConditions" value="I accept Compare Cloudware terms &amp; conditions and data privacy policies"/>
    <add key="LoadingImage1" value="~/Images/loading.gif"/>
    <add key="LoadingImage2" value="~/Images/rotate-SSearching-results.gif"/>
    <add key="LoadingImage3" value="~/Images/rotate-without-loading.gif"/>
    <add key="LoadingImage4" value="~/Images/CCW_Comparing_HoldingPage.gif"/>

    <add key="CarouselHomeImage1" value="~/Images/Carousel/Home/Carousel-Frame-1.gif"/>
    <add key="CarouselHomeImage2" value="~/Images/Carousel/Home/Carousel-Frame-2a.gif"/>
    <add key="CarouselHomeImage3" value="~/Images/Carousel/Home/Carousel-Frame-2b.gif"/>
    <add key="CarouselHomeImage4" value="~/Images/Carousel/Home/Carousel-Frame-2c.gif"/>
    <add key="CarouselHomeImage5" value="~/Images/Carousel/Home/Carousel-Frame-3.gif"/>

    <add key="CarouselCategorySecurity1" value="~/Images/Carousel/Category/Security1.gif"/>
    <add key="CarouselCategorySecurity2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategorySecurity3" value="~/Images/Carousel/Category/Security1.gif"/>
    <add key="CarouselCategorySecurity4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryProjectManagement1" value="~/Images/Carousel/Category/ProjectManagement1.gif"/>
    <add key="CarouselCategoryProjectManagement2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryProjectManagement3" value="~/Images/Carousel/Category/ProjectManagement1.gif"/>
    <add key="CarouselCategoryProjectManagement4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryOffice1" value="~/Images/Carousel/Category/Office1.gif"/>
    <add key="CarouselCategoryOffice2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryOffice3" value="~/Images/Carousel/Category/Office1.gif"/>
    <add key="CarouselCategoryOffice4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryEMail1" value="~/Images/Carousel/Category/EMail1.gif"/>
    <add key="CarouselCategoryEMail2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryEMail3" value="~/Images/Carousel/Category/EMail1.gif"/>
    <add key="CarouselCategoryEMail4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryStorageAndBackup1" value="~/Images/Carousel/Category/StorageAndBackup1.gif"/>
    <add key="CarouselCategoryStorageAndBackup2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryStorageAndBackup3" value="~/Images/Carousel/Category/StorageAndBackup1.gif"/>
    <add key="CarouselCategoryStorageAndBackup4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryCustomerManagement1" value="~/Images/Carousel/Category/CustomerManagement1.gif"/>
    <add key="CarouselCategoryCustomerManagement2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryCustomerManagement3" value="~/Images/Carousel/Category/CustomerManagement1.gif"/>
    <add key="CarouselCategoryCustomerManagement4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryFinancial1" value="~/Images/Carousel/Category/Financial1.gif"/>
    <add key="CarouselCategoryFinancial2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryFinancial3" value="~/Images/Carousel/Category/Financial1.gif"/>
    <add key="CarouselCategoryFinancial4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryPhone1" value="~/Images/Carousel/Category/Phone1.gif"/>
    <add key="CarouselCategoryPhone2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryPhone3" value="~/Images/Carousel/Category/Phone1.gif"/>
    <add key="CarouselCategoryPhone4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryConferencing1" value="~/Images/Carousel/Category/Conferencing1.gif"/>
    <add key="CarouselCategoryConferencing2" value="~/Images/Carousel/Category/AllCategories1.gif"/>
    <add key="CarouselCategoryConferencing3" value="~/Images/Carousel/Category/Conferencing1.gif"/>
    <add key="CarouselCategoryConferencing4" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CarouselCategoryAllCategories1" value="~/Images/Carousel/Category/AllCategories1.gif"/>

    <add key="CacheVendorLogoDurationHours" value="24"/>
    <add key="CacheSkyScraperCountDuration" value="1400"/>
    <add key="CacheSkyScraperDuration" value="1400"/>
    <add key="CacheMPUCountDuration" value="1400"/>
    <add key="CacheMPUDuration" value="1400"/>

    <add key="MinimumContiguousSupportDays" value="1"/>
    <add key="MaximumContiguousSupportDays" value="7"/>
    <add key="DefaultContiguousSupportDays" value="4"/>
    <add key="DisplayVendorSocialNetworkingContainer" value="true"/>
    <add key="DisplayVendorProductReviewsContainer" value="true"/>
    <add key="DisplayVendorUserReviewsContainer" value="true"/>
    <add key="DisplayVendorDocumentsContainer" value="true"/>
    <add key="DisplayVendorApplicationLogoContainer" value="true"/>
    <add key="DisplayVendorVideoContainer" value="true"/>
    <add key="DisplayVendorFeaturesContainer" value="true"/>
    <add key="DisplayVendorApplicationCostsContainer" value="true"/>
    <add key="DisplayVendorSupportDaysContainer" value="true"/>
    <add key="DisplayVendorSupportHoursContainer" value="true"/>
    <add key="DisplayVendorMainDetailsContainer" value="true"/>
    <add key="DisplayCategoriesContainer" value="true"/>
    <add key="DisplayVendorServiceOverviewContainer" value="true"/>
    <add key="DisplayVendorOperatingSystemsContainer" value="true"/>
    <add key="DisplayVendorSupportTypesContainer" value="true"/>
    <add key="DisplayVendorSupportTerritoriesContainer" value="true"/>
    <add key="DisplayVendorMobilePlatformsContainer" value="true"/>
    <add key="DisplayVendorBrowsersContainer" value="true"/>
    <add key="DisplayVendorLanguagesContainer" value="true"/>
    <add key="DisplayVendorUsersContainer" value="true"/>
    <add key="DisplayVendorLicenceTypeMinimumContainer" value="true"/>
    <add key="DisplayVendorLicenceTypeMaximumContainer" value="true"/>
    <add key="DisplayVendorVideoTrainingContainer" value="true"/>
    <add key="DisplayVendorFreeTrialPeriodContainer" value="true"/>
    <add key="DisplayVendorSetupFeeContainer" value="true"/>
    <add key="DisplayVendorMinimumContractContainer" value="true"/>
    <add key="DisplayVendorPaymentFrequencyContainer" value="true"/>
    <add key="DisplayVendorPaymentOptionsContainer" value="true"/>
    <add key="DisplayVendorApplicationCurrencyContainer" value="true"/>
    <add key="DisplayVendorApplicationTimezoneContainer" value="true"/>
    <add key="DisplayVendorApplicationsContainer" value="true"/>
    <add key="DisplayVendorStatusContainer" value="true"/>
    <add key="DisplayVendorContainer7" value="true"/>

    <add key="SupportHoursStepInterval" value="60"/>

  </appSettings>
  <connectionStrings>
    <add name="ApplicationServicesOLD" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--LAPTOP-->
    <add name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=CompareCloudware;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="xCustomApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;Uid=cc;Pwd=ccpassword;" providerName="System.Data.SqlClient"/>

    <!--IT BUILDER-->
    <!--<add name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=192.168.51.3;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient"/>-->

    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
