<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection String" connectionString="Data Source=SERVER;Initial Catalog=DBNAME;Integrated Security=False;User ID=USER;Password=PASS" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>