<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>obj\Debug\Package\CompareCloudware.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/CompareCloudwareUXStaging</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" Order="1" Enabled="False">
          <Destination Path="Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User ID=sa;Password=&quot;Her0sandwich=sql&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CompareCloudware.POCOQueryRepository.CompareCloudwareContext, CompareCloudware.POCOQueryRepository" MigrationConfiguration="CompareCloudware.POCOQueryRepository.Migrations.Configuration, CompareCloudware.POCOQueryRepository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="xCompareCloudware.POCOQueryRepository.CompareCloudwareContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=CompareCloudware;Integrated Security=False;User ID=CC;Password=pr0tech" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xCompareCloudware.POCOQueryRepository.CompareCloudwareContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=CompareCloudware;Integrated Security=False;;User Id=CC;Password=pr0tech" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="xCustomApplicationServices" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;User ID=cc;Password=ccpassword" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xCustomApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;Uid=cc;Pwd=ccpassword;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DEVBOXApplicationServices" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DEVBOXApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServicesOLD" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServicesOLD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=94.126.43.196;Initial Catalog=aspnetdb;Integrated Security=False;User ID=sa;Password=&quot;Her0sandwich=sql&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=94.126.43.196;Initial Catalog=aspnetdb;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServicesOLD-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CompareCloudware.POCOQueryRepository.CompareCloudwareContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User ID=sa;Password="Her0sandwich=sql"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEVBOXApplicationServices-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)xCompareCloudware.POCOQueryRepository.CompareCloudwareContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)xCustomApplicationServices-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>