<?xml version="1.0"?>
<configuration>

  <log4net>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="debug.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="url" />
          <type value="CompareCloudware.Web.Helpers.UrlPatternConverter" />
        </converter>
        <converter>
          <name value="ip" />
          <type value="CompareCloudware.Web.Helpers.IPPatternConverter" />
        </converter>
        <converter>
          <name value="userAgent" />
          <type value="CompareCloudware.Web.Helpers.UserAgentPatternConverter" />
        </converter>
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="FatalFile" type="log4net.Appender.RollingFileAppender">
      <file value="fatal.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <threshold value="FATAL" />
      
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="url" />
          <type value="CompareCloudware.Web.Helpers.UrlPatternConverter" />
        </converter>
        <converter>
          <name value="ip" />
          <type value="CompareCloudware.Web.Helpers.IPPatternConverter" />
        </converter>
        <converter>
          <name value="userAgent" />
          <type value="CompareCloudware.Web.Helpers.UserAgentPatternConverter" />
        </converter>
        <converter>
          <name value="sessionID" />
          <type value="CompareCloudware.Web.Helpers.SessionPatternConverter" />
        </converter>
        <conversionPattern value="%date %level %sessionID %url %ip %userAgent %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="FatalFile" />
    </root>


  </log4net>
  
</configuration>




<!--<logger name="Debug">
  <level value="DEBUG" />
  <param value="DEBUG" name="Threshold" />
  <appender-ref ref="RollingFile" />
</logger>

<logger name="Fatal">
  <level value="FATAL" />
  <param value="FATAL" name="Threshold" />
  <appender-ref ref="FatalFile" />
</logger>-->
