<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Business Partner registration</title>
  </head>
  <body style="background-color: #DBDBDB">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"><tr bgcolor="#FFFFFF"><td width="600" align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0"><tr><td width="600" align="left" valign="top"> </td>
      </tr><tr><td width="600" height="80" align="left" valign="middle"><a href="http://comparecloudware.com/" target="_blank"><img src="web images/CCW_edm_logo.gif" alt="CompareCloudware.com" width="249" height="56" class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666"/></a></td>
      </tr><tr><td width="600" align="left" valign="top"> </td>
      </tr><tr><td width="600" align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0"><tr><td width="57" align="left" valign="top"> </td>
            <td width="486" align="left" valign="top"><p class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666">Thanks for registering to watch our Business Partner presentation. We hope you’ve now got enough information to sign-up and start driving demand on Compare Cloudware.<br/><br/>
Remember it’s free to become a Business Partner - all we require to on-board you is a direct lead agreement and your content. It’s as simple as that!<br/><br/>
                Here’s a link to watch the <a href="http://youtu.be/5rHTdOGZBsw" target="_blank"><u>Introduction to Business Partners</u></a> video, just in case you missed it, want to watch it again or share it with colleagues.<br/><br/>
We look forward to you joining us on Compare Cloudware.</p>
              <span class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666"> Regards</span><span class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666"><br/><strong><br/>
                  Partner Development Manager</strong></span><br/><br/><br/></td>
            <td width="57" align="left" valign="top"> </td>
          </tr></table></td>
      </tr><tr><td width="600" align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0"><tr><td width="57" align="left" valign="top"> </td>
            <td width="486" align="left" valign="top"><table width="486" border="0" cellspacing="0" cellpadding="0"><tr><td width="234" align="left" valign="top" bgcolor="#DADADA"><table width="234" border="0" cellspacing="0" cellpadding="0"><tr><td width="234" align="left" valign="top"><table width="234" border="0" cellspacing="0" cellpadding="0"><tr><td width="15" align="left" valign="top" bgcolor="#0D9ADF"> </td>
                        <td width="206" height="25" align="left" valign="middle" bgcolor="#0D9ADF" class="bodywhite" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #FFF">Compare Cloudware TV</td>
                        <td width="13" align="left" valign="top" bgcolor="#0D9ADF"> </td>
                      </tr></table></td>
                  </tr><tr><td width="234" align="left" valign="top"><table width="234" border="0" cellspacing="0" cellpadding="0"><tr><td height="10" colspan="3" align="left" valign="top"/>
                        </tr><tr><td width="15" align="left" valign="top"> </td>
                        <td width="208" align="left" valign="top" class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666">View  our other videos on our <br/>
                          YouTube Channel.</td>
                        <td width="11" align="left" valign="top"> </td>
                      </tr><tr><td height="10" colspan="3" align="left" valign="top"/>
                        </tr></table></td>
                  </tr><tr><td width="234" align="center" valign="top" bgcolor="#DADADA"><a href="http://www.youtube.com/channel/UCdZqZ6YeOk5WAGesHBtIyug" target="_blank"><img src="web images/CCW.tv_videos.gif" alt="CompareCloudware TV" width="204" height="53" class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666"/></a></td>
                  </tr></table></td>
                <td width="18" align="left" valign="top"> </td>
                <td width="234" align="right" valign="top"><a href="https://twitter.com/compcloudware" target="_blank"><img src="web images/Follow_us_on_twitter.gif" width="234" height="138" alt="Follow us on Twitter"/></a></td>
              </tr></table></td>
            <td width="57" align="left" valign="top"> </td>
          </tr></table></td>
      </tr><tr><td width="600" align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0"><tr><td width="57" align="left" valign="top"> </td>
            <td width="486" align="left" valign="top"><p><span class="body" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;line-height: 16px;font-weight: normal;font-variant: normal;text-transform: none;color: #666"><br/></span><span class="Legal" style="color: #767676;font-family: Gotham, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-style: normal;font-variant: normal;font-weight: normal;font-size: 10px;line-height: 14px">
            <unsubscribe/>
            <span class="Legal" style="color: #767676;font-family: Gotham, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-style: normal;font-variant: normal;font-weight: normal;font-size: 10px;line-height: 14px">© 2014 Compare Cloudware. Registered company number: 7270763 <br/>
Registered address: Suite LP26620, 20-22 Wenlock Road, London N1 7GU</span></span><br>
<br/><br/></p></td>
            <td width="57" align="left" valign="top"> </td>
          </tr></table></td>
      </tr></table></td>
  </tr></table></body>
</html>
