@model CompareCloudware.Web.Models.EMailTemplateModels.BusinessPartnerModel

@using System.Configuration;



<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>Dear @Model.Forename @Model.Surname</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Vendor EMail address : @Model.Email</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>Thank you for registering your details @Model.Vendorname to become a <strong>business partner</strong> of Compare Cloudware we will be in contact with you shortly to discuss...</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>In the meantime it may be helpful if you familarise yourself.... by watching our on-demand <a href="http://player.vimeo.com/video/112796483?title=0&amp;byline=0&amp;portrait=0&amp;color=786caf&amp;autoplay=1">Business Partner presentation</a> simodi blat et aut aut eatibus verferumqui in nobit, sim faceatiunt velibero volorectur autati torepratur as eos aut laboren dellate.</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label><strong>Partner Development Team</strong></label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>comparecloudware.com</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
@*View our educational video series...
autati torepratur as eos aut laboren
Compare Cloudware TV*@
            <img src="" />
        </td>
        <td>
@*Follow us now >
Follow us on Twitter*@
            <img src="" />
        </td>
    </tr>
</table>
<hr />
