<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>The information transmitted in this e-mail together with any attachments with it, is intended for the addressee only, and is strictly confidential and/or privileged. If you have received this e-mail in error, please advise us by e-mail and delete all copies of it from your system. If you are not the named addressee, you are notified that copying, disseminating, distributing, disclosing, using or taking any action in reliance on the contents of this e-mail is prohibited.</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>The views or opinions expressed are those of the author and may not necessarily represent or reflect those of Compare Cloudware who do not accept any liability for the content or consequences of action taken in reliance of the information provided, nor any loss or injury resulting from the content of a message.</label>
        </td>
    </tr>
</table>
<br />
<table class="font-normal-14px-black">
    <tr>
        <td>
            <label>Compare Cloudware accept no liability for any damage caused by any virus transmitted by this or any e-mail.</label>
        </td>
    </tr>
</table>
<br />
<br />
