@model string
<div class="input-box-left"></div>
<div class="input-box-centre" style="width:69px;">
@Html.TextBoxFor(x => x, new { @class = "input-text-box font-normal-13px-black required", @style = "width:69px;" })
</div>
<div class="input-box-right"></div>
@*<div style="clear:both"></div>*@
