<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <!--
  http://www.linkedin.com/groups?gid=4017248&trk=group-name
  http://twitter.com/compcloudware
  -->

  <appSettings>
    <add key="xEnableSqlDependency" value="true" />
    <add key="xApplicationId" value="354378121311673" />
    <add key="xApplicationUrl" value="" />
    <add key="xApiKey" value="" />
    <add key="xApplicationSecret" value="8cbab00b01b8fb7d9ce43e576aebe576" />
    <add key="xExtendedPermissions" value="offline_access,publish_stream" />
    
    <add key="ConsumerKey" value="NgdCZRR4H9CpX11e3YsOzQ"/>
    <add key="ConsumerSecret" value="PGWGvCHLhTP1WEp1ioIOpakwwB1fL3Gagp14khmN1lE"/>
    <add key="AccessToken" value="26187182-nwSwCobtrCopGWcXwymzddTmNEzWDckZM9Sv1AZI"/>
    <add key="AccessTokenSecret" value="qTR76kABYIV2cdL98lHmTLWrtVPzgeFqmvjNeNnHNXE"/>
    
    <add key="LinkedInAPIKey" value="euxq0ly6paev"/>
    <add key="LinkedInAPISecretKey" value="boMb1TvGuQ72hVYW"/>
    <add key="LinkedInOAuthUserToken" value="4588651a-9776-4bd2-8260-6e4c6c349478"/>
    <add key="LinkedInOAuthUserSecret" value="c62c7516-fe72-41c2-9cf2-048109bcd9a3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>