<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="EventLogFile" value="CC_APPLICATION_REQUESTS_EMAIL"/>
    <add key="WebSiteLocationContext" value="http://localhost:83/admin"/>
    <add key="xWebSiteLocationContext" value="http://cc-staging.wilsonmiller.co.uk/admin"/>
    <!--<add key="RazorPageSourceName" value="PrintResult3"/>-->
    <!--<add key="RazorPageForPDF" value="PrintResult3AsBytes"/>-->
    <!--<add key="RazorPageForHTML" value="PrintResult3AsHTML"/>-->
    <!--<add key="HTMLPageForPDF" value="HTMLAsBytes"/>-->
    <add key="DueTime" value="60000"/>
    <add key="Interval" value="100000"/>
    <add key="UseTestEMailAddress" value="false"/>
    <add key="SMTPClientHostTest" value="smtp.mail.yahoo.com"/>
    <add key="SMTPClientUserEMailAddressTest" value="protechdm@yahoo.com"/>
    <add key="SMTPNetworkCredentialsClientUserIDTest" value="protechdm@yahoo.com"/>
    <add key="SMTPNetworkCredentialsClientUserPasswordTest" value="pr0tech2011"/>
    <add key="SMTPClientUserDisplayNameTest" value="Test CompareCloudware Automated Emailer"/>
    <add key="SMTPEnableSSLTest" value="true"/>
    <add key="SMTPPortTest" value="587"/>
    <add key="SMTPMailToTest" value="protechdm@yahoo.com"/>
    <add key="SMTPClientHost" value="itbesva.itbuilder.co.uk"/>
    <add key="SMTPClientUserEMailAddress" value="automatedemailer@wilsonmiller.co.uk"/>
    <!--<add key="SMTPNetworkCredentialsClientUserID" value="wilsonmiller.co.uk"/>-->
    <add key="SMTPNetworkCredentialsClientUserID" value="wm-compare"/>
    <!--<add key="SMTPNetworkCredentialsClientUserPassword" value="qhwVL6ii"/>-->
    <add key="SMTPNetworkCredentialsClientUserPassword" value="s3nDm3ssage"/>
    <add key="SMTPEnableSSL" value="false"/>
    <add key="SMTPPort" value="587"/>
    <add key="xSMTPMailTo" value="cdixon@wilsonmiller.co.uk;sgardner@wilsonmiller.co.uk;protechdm@yahoo.com"/>
    <add key="SMTPMailTo" value="protechdm@yahoo.com" />
    <add key="SMTPPartnerProgrammeReceiptMailTo" value="protechdm@yahoo.com" />
    <add key="MailSubject" value="Your requested cloudware application is attached"/>
    <add key="SMTPClientUserDisplayName" value="CompareCloudware Automated Emailer"/>
    <!--<add key="MailTemplateResourceName" value="CompareCloudware.Web.Helpers.Receipt.txt"/>-->
    <add key="MailSubjectTry" value="A new try request"/>
    <add key="MailSubjectBuy" value="A new buy request"/>
    <add key="MailTemplateResourceNameTry" value="WSMailTryBuy.Helpers.TryReceipt.txt"/>
    <add key="MailTemplateResourceNameBuy" value="WSMailTryBuy.Helpers.BuyReceipt.txt"/>
    <add key="MailTemplateResourceNameBusinessPartner" value="WSMailTryBuy.Helpers.BusinessPartnerReceipt.txt"/>
    <add key="MailTemplateResourceNameStrategicPartner" value="WSMailTryBuy.Helpers.StrategicPartnerReceipt.txt"/>
    <add key="MailTemplateResourceNameReferRewardPartner" value="WSMailTryBuy.Helpers.ReferRewardReceipt.txt"/>
    <!--<add key="SaveToTestFile" value="true"/>-->
    <!--<add key="TestFileName" value="testfile.pdf"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- BUSINESS PARTNER-->
    <add key="BusinessPartnerID" value="4"/>
    <add key="BusinessPartnerControllerActionForHTML" value="BusinessPartner"/>
    <add key="BusinessPartnerMailSubject" value="Thank you for registering to become a Business Partner"/>
    <add key="BusinessPartnerReceiptMailSubject" value="Business Partner request"/>

    <!-- STRATEGIC PARTNER-->
    <add key="StrategicPartnerID" value="5"/>
    <add key="StrategicPartnerControllerActionForHTML" value="StrategicPartner"/>
    <add key="StrategicPartnerMailSubject" value="Thank you for registering to become a Strategic Partner"/>
    <add key="StrategicPartnerReceiptMailSubject" value="Strategic Partner request"/>

    <!-- REFER REWARD PARTNER-->
    <add key="ReferRewardPartnerID" value="6"/>
    <add key="ReferRewardControllerActionForHTML" value="ReferReward"/>
    <add key="ReferRewardPartnerMailSubject" value="Thank you for registering to become a Refer &amp; Reward Partner"/>
    <add key="ReferRewardPartnerReceiptMailSubject" value="Refer &amp; Reward Partner request"/>

    <!-- SEND TO COLLEAGUE-->
    <add key="SendToColleagueID" value="7"/>
    <add key="SendToColleagueControllerActionForHTML" value="SendToColleague"/>
    <add key="SendToColleagueMailSubject" value="thought you might be interested in this..."/>

  </appSettings>
  <connectionStrings>
    <add name="ApplicationServicesOLD" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--LAPTOP-->
    <add name="CompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=CompareCloudware;Integrated Security=False;;User Id=CC;Password=pr0tech" providerName="System.Data.SqlClient" />
    <add name="xCustomApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;Uid=cc;Pwd=ccpassword;" providerName="System.Data.SqlClient" />
    <!--IT BUILDER-->
    <add name="xCompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient"/>
    <add name="yCompareCloudware.POCOQueryRepository.CompareCloudwareContext" connectionString="Data Source=192.168.51.3;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
