<div class="creature-right-div">
@*    <img src="@Url.Content("~/Images/Compo_Final.gif")" />*@
@*    <img src="@Url.Content("~/Images/Compo_Final_HOME.gif")" />*@
    <img src="@Url.Content("~/Images/Home_Search_Panel_Module_July_2014.gif")" />
</div>
@*<div class="creature-left-text-home-page">
    <label class="font-normal-14px-blue">Submit your details and start comparing cloudware now</label>
</div>*@

