@model CompareCloudware.Web.Models.SearchInputModel
<div class="input-box-left"></div>
<div class="input-box-centre">
@*@Html.TextBoxFor(x => x, new { @class = "input-text-box font-normal-13px-white" })
*@
<div class="styled-select">
    @Html.DropDownListFor(x => x.ChosenCategoryID,
    new SelectList(Model.Categories, "CategoryID", "CategoryName", Model.ChosenCategoryID)
    )
</div>
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>
