@model CompareCloudware.Web.Models.GlobalSearchPageModel
           
@using CompareCloudware.POCOQueryRepository.Helpers;

@Html.Hidden("searchResultsCountHidden", Model.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResults.Count(), new { @id = "searchResultsCountHidden" })
<table id="xheader" class="global-search-header-results-table-inner" style="width: 100%;">
    <tr>
        <td style="width: 27%;">
            <label class="font-normal-11px-white">Cloudware provider</label>
        </td>
        <td style="width: 20%;">
            <label class="font-normal-11px-white">Price-per-user</label>
        </td>
        <td style="width: 20%;">
            <label class="font-normal-11px-white">Annual price</label>
        </td>
        <td style="width: 20%;">
            <label class="font-normal-11px-white">Set-up fee</label>
        </td>
        <td style="width: 13%;">
            <label class="font-normal-11px-white">Free trial</label>
        </td>
    </tr>
</table>

@Html.Partial("GlobalSearchNavigationInfo",Model)

<div class="global-search-results-container-inner" id="tabsfull">
        <div id="resultsFull" class="global-search-results-container-full box-shadow-none">
            @Html.DisplayFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResultsPage)
            @Html.Partial("GlobalSearchNavigationButtons",Model)
        </div>
    
</div>

