@model CompareCloudware.Web.Models.HomePageModel

@{
    //Layout = null;
}













<select></select>



<script>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        window.fbAsyncInit = function () {
            FB.init({
                appId: '354378121311673',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v2.0'
            });
        };
        var socialShareText = "test";

        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);

        debugger;


        //setTimeout(5000, postit());

            function postit() {
                FB.ui(
                {
                    method: 'share',
                    href: 'http://comparecloudware.com'
                });

            }


    });
</script>


<div id="fb-root"></div>






















@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<style type="text/css">
        div.demo, div.inner { color: #000; text-align: center; font-family: verdana, arial, sans-serif;}
        div.demo  { float: left; width: 18em; padding: 20px; margin: 1em; background: #6af; }
    </style>

@*<script type="text/javascript" src="http://malsup.github.com/jquery.corner.js"></script>
*@
<script type="text/javascript">
    // test auto-ready logic - call corner before DOM is ready
    //$('#readyTest').corner();

    $(function () {
        //        $('#dynCorner').click(function () {
        //            $('#dynamic').corner();
        //        });
        //        $('#dynUncorner').click(function () {
        //            $('#dynamic').uncorner();
        //        });

        //        $('div.inner').wrap('<div class="outer"></div>');
        //        $('p').wrap("<code></code>");

        $('div.demo, div.inner').each(function () {
            var t = $('p', this).text();
            eval(t);
        });

        // fixed/fluid tests
        //$("div.box, div.plain").corner();
        //$("#abs").corner("cc:#08e");

        //$('.myCorner').corner();
    });
</script>
 
<div id="main">
    <div class="demo"><h1>Round</h1> <p>$(this).corner();</p></div>
	
</div> <!-- main -->
