<div class="bootstrapper-text font-normal-11px-black">
<p>
<strong>BlackBerry&reg;</strong>
The Trademark [BlackBerry&reg;] is owned by Research In Motion Limited and is registered in the United States and may be pending or registered in other countries. Compare Cloudware is not endorsed, sponsored, affiliated with or otherwise authorized by Research In Motion Limited.&nbsp;|&nbsp;
<strong>Android™</strong>
 is a trademark of Google Inc.&nbsp;|&nbsp;
<strong>Symbian</strong>
 and all Symbian-based marks and logos are trade marks of the Symbian Foundation.&nbsp;|&nbsp;
<strong>iOS</strong>
 is a trademark or registered trademark of Cisco in the U.S. and other countries and issued under license to Apple.&nbsp;|&nbsp;
<strong>OS X</strong>
 - Apple, the Apple logo, AirPort, Mac, the Mac logo, Mac OS, OS X and Apple iOS are trademarks of Apple Computer, Inc., registered in the U.S. and other countries.&nbsp;|&nbsp;
<strong>Windows XP</strong>
 is a registered trademark of Microsoft Corporation in the United States and other countries.&nbsp;|&nbsp;
<strong>Windows Vista</strong>
 - Microsoft, MSN, and Windows Vista are trademarks of the Microsoft group of companies.&nbsp;|&nbsp;
<strong>Windows 7</strong>
 is a registered trademark of Microsoft Corporation in the United States and other countries.&nbsp;|&nbsp;
<strong>Windows 8</strong>
 - is a registered trademark of Microsoft Corporation in the United States and other countries.&nbsp;|&nbsp;
<strong>Linux&reg;</strong>
 - is the registered trademark of Linus Torvalds in the U.S. and other countries.&nbsp;|&nbsp;
<strong>Internet Explorer</strong>
 - Microsoft, Microsoft Internet Explorer, the Microsoft logo, the Microsoft Internet Explorer logo, and the Microsoft Internet Explorer interfaces are trademarks or registered trademarks of Microsoft, Inc.&nbsp;|&nbsp;
<strong>Safari</strong>
 - The Safari web browser is a product of Apple Inc., registered in the U.S. and other countries.&nbsp;|&nbsp;
<strong>Firefox</strong>
 - Mozilla, Firefox, Mozilla Firefox, the Mozilla logo, the Mozilla Firefox logo, and the Mozilla Firefox interfaces are trademarks or registered trademarks of Mozilla Corporation.&nbsp;|&nbsp;
<strong>Opera</strong>
 - Opera Mini, and the O logo are trademarks of Opera Software ASA.&nbsp;|&nbsp;
<strong>Chrome</strong>
 - Google and Google Chrome are trademarks or registered trademarks of Google Inc.
</div>
