@model CompareCloudware.Web.Models.BaseModel

<div style="width:100%;position:relative;background-color:#f6f6f6;height:433px;">
<div class="page-not-found-image"></div>
<div class="page-not-found-text font-normal-32px-purple">
<span>We’re sorry, we can’t find that page. Did you want to look at any of the categories above?</span>
</div>
</div>