@model string

            <table class="partner-programme-captcha-header">
                <tr>
                    <td>
                        <label class="font-normal-13px-white"> @Model </label>
                    </td>
                </tr>
            </table>

