<div class="search-page-title-bar font-normal-11px">
</div>

@using (Html.BeginForm("CloudApplication", "Home", FormMethod.Post))
{


@*<div class="search-result-product-ratings-div">
    @Html.DisplayFor(x => x.FreeTrialBuyNow)

    @{Html.RenderPartial("CloudApplicationOverallRating", Model); }

    @Html.DisplayFor(x => x.Ratings)
</div>
*@}