@model string
<div class="creature-right-div">
    <img src="@Url.Content("~/Images/Compo_Final_REVIEW.gif")" />
</div>
<div class="creature-below-text-1">
@*    <label class="font-normal-15px-blue">Try the FREE trial if you're not sure if it's the right cloudware for you</label>*@
    <label class="font-normal-15px-blue">@Model</label>
</div>
@*<div class="creature-below-text-2">
    <label class="font-normal-15px-blue">for you</label>
</div>
*@
