@model CompareCloudware.Web.Models.SearchPageModel
@using CompareCloudware.Web.Models;

@if (ViewBag.JavaScriptEnabled)
{
@*    <div class="search-page-title-bar font-normal-11px">
    </div>
*@    
    <div class="search-filters-container-outer box-shadow">
        <div class="search-filters-container-inner">
            @{Html.RenderPartial("SearchFilters", Model);}
        </div>
    </div>
    <div class="search-results-container-outer">
        @{Html.RenderPartial("SearchResults", Model);}
    </div>
    <div class="skyscrapers-container">
        <div class="skyscraper-image-container">
            <a href="http://www.adobe.com" target="_blank">
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 10 })' class="advertising-image" />
            </a>
        </div>
        <div class="skyscraper-image-container">
            <a href="http://www.adobe.com" target="_blank">
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 11 })' class="advertising-image" />
            </a>
        </div>
    </div>

}
else
{
    <div class="search-filters-container-outer box-shadow">
        <div class="search-filters-container-inner">
            @{Html.RenderPartial("SearchFiltersNoScript", Model);}
        </div>
    </div>
    <div class="search-results-container-outer">
        @{Html.RenderPartial("SearchResults", Model);}
    </div>
    <div class="skyscrapers-container">
        <div class="skyscraper-image-container">
            <a href="http://www.adobe.com" target="_blank">
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 10 })' class="advertising-image" />
            </a>
        </div>
        <div class="skyscraper-image-container">
            <a href="http://www.adobe.com" target="_blank">
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 11 })' class="advertising-image" />
            </a>
        </div>
    </div>
}
