
<script type="text/javascript">



</script>

<script type="text/javascript">

    $(function () {

        var autocompleteRows = $.parseJSON('@(ViewData["autocompleteRows"]??"[]")');
        //$.ui.searchboxautocomplete.separator = ": ";

        $("#search")
//            .data("searchboxautocomplete")._renderItem = function (ul, item) {
//                return $("<li></li>")
//                    .data("item.autocomplete", item)
//                    .append($("<a href='AutoCompleteResultRedirect'></a>").text(item.labelShort + " (" + item.value + ")"))
//                    .appendTo(ul);
//            }
            .setSearchText(autocompleteRows)
            .searchboxautocomplete({
                autocompleteRows: autocompleteRows,
                source: function (request, response) {
                    var term = $.ui.searchboxautocomplete.extractLast(request.term);
                    logIt("source: extractLast(request.term): " + term);
                    //                    var data = this.options.getCachedData(term);
                    //                    if (data != null) {
                    //                        response(data);
                    //                        return true;
                    //                    }
                    var that = this;
                    this.options.lastXhr =
                        $.getJSON("AutoComplete",
                            { term: term, acRows: JSON.stringify(this.options.autocompleteRows) },
                            function (data, status, xhr) {
                                //that.options.setCachedData(term, data);
                                if (xhr === that.options.lastXhr) {
                                    response(data);
                                }
                            })
                            .error(function (xhr, status, c) {
                                alert("error");
                            })
                },
                search: function () {
                    // custom minLength
                    var term = $.trim($.ui.searchboxautocomplete.extractLast(this.value));
                    logIt("search: custom minLength=>" + term + "<=");
                    if ($(this).data("searchboxautocomplete").menu.element.is(":visible"))
                        $(this).data("searchboxautocomplete").close(null);
                    if (term.length < 3) {
                        return false;
                    }
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                submitBox: function () {
                    $('#searchbox').trigger("submit");
                }

            })

        //        .data("searchboxautocomplete")._renderItem = function (ul, item) {
        //        return $("<li></li>")
        //        .data("item.autocomplete", item)
        //        .append($("<a href='AutoCompleteResultRedirect'></a>").text(item.labelShort + " (" + item.value + ")"))
        //        .appendTo(ul);
        //        };

        // hijack the form submit 
        $('#searchbox').submit(function (e) {
            var rows = $("#search").data("searchboxautocomplete").options.autocompleteRows;
            $('#selectedAutocompleteRows').val(JSON.stringify(rows));
            $('#separator').val($.ui.searchboxautocomplete.separator);
            //alert($('#selectedAutocompleteRows').val()); e.preventDefault(); return false;
            return true;
        });


    });

    function logIt($obj, what) {
        // for IE, press F12 to open Developer Tools, and follow  Script/Console
        if (window.console && window.console.log)
            window.console.log($obj.toString());
    };

</script>

   <div class="ui-widget">
@*        <form id="searchbox" action="/search/productlist" method="post">
        </form>
*@            <input type="text" id="search" name="search" size="90" style="font-size:12px;width:250px;padding:3px 3px;" value=""/>
            <input id="searchbutton" name="searchbutton" type="submit" class="searchbutton" value="Search"/>
            <input type="hidden" id="selectedAutocompleteRows" name="selectedAutocompleteRows" />
            <input type="hidden" id="separator" name="separator" />
    </div>

