<div id="dialog-message-tc" class="modal hide fade in" data-width="500">  
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">  
                <a class="close" data-dismiss="modal">×</a>  
                <h3>Terms & Conditions</h3>  
            </div>  
            <div class="modal-body modal-tc-error">  
                <label class="font-normal-13px-black">Please accept the terms & conditions to proceed</label>
            </div>  
            <div class="modal-footer">  
                <a href="#" class="btn" data-dismiss="modal">Close</a>  
            </div>  
        </div>
    </div>
</div>  
