<div id="dialog-message-tc" title="Terms & Conditions">
    <table>
        <tr>
            <td valign="top">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                </p>
            </td>
            <td valign="top">
                <label class="font-normal-13px-black">Please accept the terms & conditions to proceed</label>
            </td>
        </tr>
    </table>
</div>
