@model CompareCloudware.Web.Models.BaseModel

<div style="width:100%;position:relative;background-color:#f6f6f6;height:433px;">
<div class="thanks-for-coming-image"></div>
<div class="thanks-for-coming-text font-normal-25px-purple">
<span>Thanks for coming in here. We’re in the process of on-boarding all the new cloud providers at the moment and will be launching this category very soon.</span>
<br />
<br />
<span>If you’re a cloud provider and you want to come and join the party then we’d love to hear from you - so please</span>
@*<a href="mailto:partner@comparecloudware.com?subject=@(Model.CustomSession.SelectedCategoryName) CLOUDWARE">click here</a>*@
<a data-toggle="modal" data-id="register" href="#modalinput" class="register-or-update">click here</a>

</div>
</div>