<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="PDFViewPath" value="http://localhost:81/home.mvc"/>
  <add key="EventLogFile" value="CC_EMAIL"/>
  <add key="WebSiteLocationContext" value="http://localhost:81"/>
  <add key="RazorPageForPDF" value="PrintResult3"/>
  <add key="DueTime" value="1000"/>
  <add key="Interval" value="1000"/>


  <add key="SMTPClientHost" value="smtp.mail.yahoo.com"/>
  <add key="SMTPClientUserID" value="protechdm"/>
  <add key="SMTPClientUserPassword" value="pr0tech2011"/>
  <add key="SMTPEnableSSL" value="false"/>
  <add key="SMTPPort" value="587"/>
  <add key="MailSubject" value="Your requested cloudware application is attached"/>
  <add key="SMTPClientUserDisplayName" value="CompareCloudware Automated Emailer"/>
  <add key="MailTemplateResourceName" value="CompareCloudware.Web.Helpers.Receipt.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
