@model CompareCloudware.WCF.CloudApplicationModel
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="/Scripts/jquery-1.8.1.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.ui.tabs.js"></script>
    <script type="text/javascript" src="/Content/modernizr-1.7.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.corner.js"></script>
    <script type="text/javascript" src="/Scripts/CompareCloudware.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/Content/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/Content/Site.css">
    <link type="text/css" rel="stylesheet" href="/Content/Fonts.css">
    <link type="text/css" rel="stylesheet" href="/Content/EnabledJavaScript/simple-search-input.css">
    <link type="text/css" rel="stylesheet" href="/Content/Creature.css">
    <link type="text/css" rel="stylesheet" href="/Content/overflow-text-ellipsis.css">
    <link type="text/css" rel="stylesheet" href="/Content/jquery-ui.custom.css">
    <!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="../../Content/modernizr-1.7.js"></script>
  <script type="text/javascript" src="../../Content/selectivizr.js"></script>
  <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<![endif]-->
</head>
<body>
    <div class="page">
        <header>
        
            
<form method="post" action="/Home.mvc/HeaderModel?tab=1" novalidate="novalidate">    <div class="header-container">
        <div class="header-logo-container">
            <div class="header-logo">
            <a href="../../home.htm">
                <img src="../../Images/CCW_Logo.png">
                </a>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>
    <div style="clear: both;">
    </div>
</form> 

        </header>
        <section id="main">
            





<link type="text/css" rel="stylesheet" href="/Content/search-page.css">
<div class="search-page-title-bar font-normal-11px">
</div>

<form method="post" action="/Home.mvc/CloudApplication" novalidate="novalidate"><div class="search-result-page-div font-normal-11px">
    <div class="search-result-div">
        


<div class="search-header-results-container">
    <div class="search-header-results-table-outer">





    </div>    
    <div class="search-results-table-outer">


    
    <table style="width: 100%;" class="search-results-table-inner box-shadow" id="dataTable">
        <tbody><tr>
            <td style="width: 27%;">
                <div class="search-results-table-main-details-logo">
                    <img class="logo-image" src="/Home.mvc/ShowLogo?vendorID=32">
                        <input type="hidden" value="32" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.VendorID" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_VendorID" data-val-required="The VendorID field is required." data-val-number="The field VendorID must be a number." data-val="true">
                    qqqqq
                </div>
            </td>
            <td class="font-bold-22px-purple search-result-header" style="width: 20%;">
                <div class="search-results-table-main-details">
                    <input type="hidden" value="30.00" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.ApplicationCostPerMonth" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_ApplicationCostPerMonth" data-val-required="The ApplicationCostPerMonth field is required." data-val-number="The field ApplicationCostPerMonth must be a number." data-val="true">
                    <label class="font-bold-22px-purple search-result-header">
                        £30.00
                    </label>
                    <br>
                    <label class="font-bold-11px-purple search-result-header">
                        per month
                    </label>
                </div>
            </td>
            <td class="font-bold-22px-purple  search-result-header" style="width: 20%;">
                <div class="search-results-table-main-details">
                    <input type="hidden" value="0.00" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.ApplicationCostPerAnnum" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_ApplicationCostPerAnnum" data-val-required="The ApplicationCostPerAnnum field is required." data-val-number="The field ApplicationCostPerAnnum must be a number." data-val="true">
                    <label class="font-bold-22px-purple search-result-header">
                        £0
                    </label>
                    <br>
                    <label class="font-bold-11px-purple search-result-header">
                        &nbsp;
                    </label>
                </div>
            </td>
            <td class="font-bold-22px-purple search-result-header" style="width: 20%;">
                <div class="search-results-table-main-details">
                   <input type="hidden" value="Not Applicable" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.SetupFee" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_SetupFee">
                   <label class="font-bold-22px-purple search-result-header">
                        £0
                    </label>
                    <br>
                    <label class="font-bold-11px-purple search-result-header">
                        &nbsp;
                    </label>
                </div>
            </td>
            <td class="font-bold-22px-purple  search-result-header" style="width: 13%;">
                <div style="border-right-style: none;border-right-width: 0px;" class="search-results-table-main-details">
                    <input type="hidden" value="Yes" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.FreeTrialPeriod" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_FreeTrialPeriod">
                    <label class="font-bold-22px-purple search-result-header">
                    Yes
                    </label>
                    <br>
                    <label class="font-bold-11px-purple search-result-header">
                    ???
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <input type="hidden" value="Meeting Centre" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.ServiceName" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_ServiceName">
            <td colspan="5" style="width: 70%; border-bottom: 1px solid black;" class="font-bold-13px-purple">Meeting Centre
            </td>
        </tr>
        <tr>
            <td colspan="5" style="width: 70%" class="font-normal-12px-black">
                <div style="float: right; height: inherit; width:30%;">
                    <input type="hidden" value="32" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.CloudApplicationID" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_CloudApplicationID" data-val-required="The CloudApplicationID field is required." data-val-number="The field CloudApplicationID must be a number." data-val="true">
                    <table width="100%;">
                        <tbody><tr>
                            <td style="padding: 5px;">
                              


                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">


                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <div style="width: 70%;" class="none-ellipsify">
                    Lorem ipsum dolor sit amet clita minim aliquyam sanctus tempor duo volutpat amet ut amet facilisis commodo eum consequat et erat vulputate liber no diam eu magna et vero sea lorem invidunt nulla molestie nulla invidunt vero tation ullamcorper dolor nostrud et aliquyam dolore ipsum amet magna rebum diam erat gubergren nostrud erat accusam sanctus dolore luptatum eros elitr dolor tempor dignissim at diam invidunt stet sit dolore blandit option duis ut magna invidunt takimata et commodo et sanctus diam iriure consetetur tempor praesent eum erat lorem dolore illum dolor soluta invidunt te zzril blandit aliquyam et takimata consectetuer sadipscing.
                </div>
            </td>
        </tr>
    </tbody></table>

    <div style="display:none;" id="MOREINFO_DIV_APPLICATION_ID_32" class="search-results-table-inner-moreinfo">
        <hr>
        <label class="font-normal-22px-purple search-result-header">Summary</label>
        <table>
            <tbody><tr>
                <td style="width: 60%;">
                    <div style="overflow: hidden; height: auto; width: 100%;" id="main3">
                        <div class="search-result-summary-div">
                            <input type="hidden" value="System.Collections.Generic.List`1[CompareCloudware.Web.Models.OperatingSystemModel]" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.OperatingSystems" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_OperatingSystems">
                            <input type="hidden" value="System.Collections.Generic.List`1[CompareCloudware.Web.Models.SupportTypeModel]" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.SupportTypes" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_SupportTypes">
                            <input type="hidden" value="System.Collections.Generic.List`1[CompareCloudware.Web.Models.LanguageModel]" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.Languages" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_Languages">
                            <input type="hidden" value="System.Collections.Generic.List`1[CompareCloudware.Web.Models.CloudApplicationFeatureModel]" name="ContainerModel.ChosenCloudApplicationModel.SearchResultModel.CloudApplicationFeatures" id="ContainerModel_ChosenCloudApplicationModel_SearchResultModel_CloudApplicationFeatures">;
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                                        Html.Hidden(Model.CloudApplicationFeatures[c].Feature.FeatureName)
                            
                            <table>
                                <!-- OPERATING SYSTEMS -->
                                <tbody><tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Operating system:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Win</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Mac</label>
                                    </td>
                                </tr>
                                <!-- SUPPORT TYPES -->
                                <tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Support type:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Online</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Telephone</label>
                                    </td>
                                </tr>
                                <!-- SUPPORT DAYS -->
                                <tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Support days:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">7</label>
                                    </td>
                                </tr>
                                <!-- SUPPORT HOURS -->
                                <tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Support hours:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header"></label>
                                    </td>
                                </tr>
                                <!-- LANGUAGES -->
                                <tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Language:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">English</label>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                        <!-- FEATURES -->
                        <div class="search-result-summary-div">
                            <table>
                                <tbody><tr>
                                    <td>
                                        <label class="font-bold-11px-purple search-result-header">Features:</label>
                                    </td>
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">High Definition Video</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Presenter Preparation Mode</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Multiple Meeting Hosts/Chairperson</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Individual Usage Reports</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">'On The Fly' Invitations For Additional Participants</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Instant Meeting Function</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Active Speaker Video Switching</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Full Desktop Sharing</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Single Application Share</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Upload Multiple Presentations</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Private Chat Mode</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">SSL Security</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Record &amp; Replay Service</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Interface Company Branding</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Inactivity Time Out</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Fixed Line &amp; Mobile Dial-In</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Free VoIP Calling</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">MS Outlook Integration (to book meetings)</label>
                                        </td> 
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <hr>
    </div>



    </div>
</div>

        <div class="search-results-table-outer">
    
            <hr>

            <label class="font-normal-22px-purple search-result-header">Summary</label>
    
            <table>
                <tbody><tr>
                    <td style="width: 60%;">
                        <div style="overflow: hidden; height: auto; width: 100%;" id="main3">
                    <div class="search-result-summary-div">
                        <table>
                            <!-- OPERATING SYSTEMS -->
                            <tbody><tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Operating system:</label>
                                </td>
                            </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Win</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Mac</label>
                                    </td>
                                </tr>
                            <!-- SUPPORT TYPES -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Support type:</label>
                                </td>
                            </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Online</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">Telephone</label>
                                    </td>
                                </tr>
                            <!-- SUPPORT DAYS -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Support days:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="font-normal-11px-black search-result-header">7</label>
                                </td>
                            </tr>
                            <!-- SUPPORT HOURS -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Support hours:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="font-normal-11px-black search-result-header">24 hours</label>
                                </td>
                            </tr>
                            <!-- LANGUAGES -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Language:</label>
                                </td>
                            </tr>
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header">English</label>
                                    </td>
                                </tr>
                        </tbody></table>
                    </div>
                    <!-- FEATURES -->
                    <div class="search-result-summary-div">
                        <table>
                            <tbody><tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header">Features:</label>
                                </td>
                            </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">High Definition Video</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Presenter Preparation Mode</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Multiple Meeting Hosts/Chairperson</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Individual Usage Reports</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">'On The Fly' Invitations For Additional Participants</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Instant Meeting Function</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Active Speaker Video Switching</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Full Desktop Sharing</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Single Application Share</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Upload Multiple Presentations</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Private Chat Mode</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">SSL Security</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Record &amp; Replay Service</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Interface Company Branding</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Inactivity Time Out</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">Fixed Line &amp; Mobile Dial-In</label>
                                        </td> 
                                </tr>
                                <tr> 
                                    <td style="padding-right:20px;">
                                        <label class="font-normal-11px-black search-result-header">Free VoIP Calling</label>
                                    </td> 
                                        <td style="margin-right:0px;">
                                            <label class="font-normal-11px-black search-result-header">MS Outlook Integration (to book meetings)</label>
                                        </td> 
                                </tr>
                        </tbody></table>
                    </div>
                </div>
                    </td>
                </tr>
            </tbody></table>

            <hr>

            <label class="font-normal-22px-purple search-result-header">Discover more about Meeting Centre</label>

            <!-- THUMBNAIL DOCUMENTS -->
            <table style="width:100%;">
                <!-- CASE STUDIES -->
                <tbody><tr>
                    <td>
                        <label class="font-bold-11px-purple search-result-header">Case Studies</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="float: left;" class="thumbnail-documents">

                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=4');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=4">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=4');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                        <a href="http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=4" target="_blank">
                                            <label class="font-bold-11px-purple search-result-header">NO JS</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=5');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=5">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=5');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                        <a href="http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=5" target="_blank">
                                            <label class="font-bold-11px-purple search-result-header">NO JS</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=6');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=6">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=6');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                        <a href="http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=6" target="_blank">
                                            <label class="font-bold-11px-purple search-result-header">NO JS</label>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </td>
                </tr>
                <!-- WHITE PAPERS -->
                <tr>
                    <td>
                        <label class="font-bold-11px-purple search-result-header">White Papers</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                              
                            </table>

                        <div style="float: left;" class="thumbnail-documents">
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=1');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=1">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=1');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=2');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=2">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=2');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=3');return false;" target="_blank" href="http://www.adobe.com">
                                            <img class="thumbnail-image" src="/Home.mvc/ShowImage?thumbnailDocumentID=3">
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">
                                        <label class="font-bold-11px-purple">Lorem ipsum dolor sit.</label>
                                        <br>
                                        <a onclick="window.open('http://localhost:3785/Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=3');return false;" target="_blank" href="http://www.adobe.com">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
            
            localhost:3785
            /
        </div>
    </div>

    <div class="search-page-title-bar font-normal-11px">
        <table style="width: 100%;" class="search-header-results-table-inner">
            <tbody><tr>
                <td style="width: 100%;">
                    <div class="button-bar">
                        <div class="site-button">
                            <input type="submit" class="cancel" value="BackResults" src="/Images/Buttons/1x1-transparent.png" name="BACKRESULTS_BUTTON">
                        </div>
                    </div>
                    <div class="button-bar">
                        <div class="site-button">
                            <input type="image" class="cancel" value="EmailPage" src="/Images/Buttons/1x1-transparent.png" name="EMAIL_BUTTON">
                        </div>
                    </div>
                    <div class="button-bar">
                        <div class="site-button">
                            <input type="image" value="Print" src="/Images/Buttons/1x1-transparent.png">
                        </div>
                    </div>
                    <div class="button-bar">
                        <div class="site-button">
                            <input type="image" value="CompareAgain" src="/Images/Buttons/1x1-transparent.png">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>




    </div>

    <div class="search-result-product-reviews-div">
        
<div class="product-review">
    <div>
        <div style="float:left;">
            <table>
                <tbody><tr>
                    <td class="product-review-header">
                        <label class="product-review-label font-13px-white">Product review</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">Wilson Miller Business Edition - 23/10/2012</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">CloudCompare buys Microsoft after shares rocket 173% on launch of comparison website</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                …
                            </div>
                            <label class="font-normal-11px-black">Lorem ipsum dolor sit amet magna eu dolores et accusam odio rebum augue nulla velit lorem ut augue et stet sit aliquyam diam stet duo diam ea consequat consetetur facer molestie dolor iusto praesent eirmod ea hendrerit et sanctus et voluptua dolor aliquyam erat sit tincidunt eos lorem praesent aliquip tempor blandit esse sit facilisis possim dolor clita takimata minim consetetur tempor invidunt consequat tempor placerat volutpat sanctus dolor justo consectetuer gubergren consetetur amet invidunt consectetuer consetetur elitr accusam est sit lorem aliquyam wisi ullamcorper et nulla elitr et et adipiscing duo kasd consequat stet rebum ex ut tempor nulla.</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

<div class="product-review">
    <div>
        <div style="float:left;">
            <table>
                <tbody><tr>
                    <td class="product-review-header">
                        <label class="product-review-label font-13px-white">Product review</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">Wilson Miller Business Edition - 23/10/2012</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">CloudCompare buys Microsoft after shares rocket 173% on launch of comparison website</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                …
                            </div>
                            <label class="font-normal-11px-black">Lorem ipsum dolor sit amet et labore sadipscing rebum sanctus imperdiet at hendrerit magna facer lorem amet nonumy ullamcorper consetetur sit hendrerit ut duo sadipscing feugiat duo lobortis sanctus suscipit sadipscing soluta consectetuer in ut veniam no iusto sit et eos diam zzril eirmod velit est duis est vero erat dolores gubergren sit iusto tation dolor veniam et facilisis nonumy et et ullamcorper nulla exerci nonumy tempor sadipscing diam et ipsum enim eirmod rebum at rebum illum ut mazim feugait et sea accumsan dolore consectetuer stet diam accusam invidunt clita sed magna magna elit consetetur facilisis id vero et iriure.</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

    </div>

</div>
<div class="search-result-product-ratings-div">
    

    <div class="free-trial-input-container">
<div class="creature-right-div">
    <img src="../../Images/Compo_Final_TRIAL.gif">
</div>
<div class="creature-below-text">
    <label class="font-normal-11px-blue">
        Submit your details below to access the FREE trial or buy now</label>
</div>


        <div class="free-trial-input-data-proceed-page">
            <div class="add-margins">
                <label class="font-22px-white">
                    Request free trial</label>
            </div>
            <div class="add-margins">
                <div class="free-trial-first-column">
                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FirstName" class="font-normal-13px-white">First Name</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="Glyn" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FirstName" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FirstName" data-val-required="The First Name field is required." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FirstName" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Surname" class="font-normal-13px-white">Surname</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Surname" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Surname" data-val-required="The Surname field is required." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Surname" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_EMailAddress" class="font-normal-13px-white">Email</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="glyn.threadgold@yahoo.co.uk" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.EMailAddress" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_EMailAddress" data-val-required="The Email field is required." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.EMailAddress" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Telephone" class="font-normal-13px-white">Phone</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Telephone" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Telephone" data-val-required="The Phone field is required." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Telephone" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Company" class="font-normal-13px-white">Company</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Company" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Company" data-val-required="The Company field is required." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Company" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_NumberOfEmployees" class="font-normal-13px-white">Employees</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <div class="input-box-left"></div>
<div class="input-box-centre">
<input type="text" value="0" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.NumberOfEmployees" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_NumberOfEmployees" data-val-required="The Employees field is required." data-val-number="The field Employees must be a number." data-val="true" class="input-text-box font-normal-13px-white">
</div>
<div class="input-box-right"></div>
<div style="clear:both"></div>

                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.NumberOfEmployees" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FreeTrial" class="font-normal-13px-white">FREE Trial</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <input type="checkbox" value="true" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FreeTrial" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FreeTrial" data-val-required="The FREE Trial field is required." data-val="true" class="check-box"><input type="hidden" value="false" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FreeTrial">
                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FreeTrial" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="free-trial-input-object-container">
                        <div class="free-trial-input-object-label">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_BuyNow" class="font-normal-13px-white">Buy now</label>
                        </div>
                        <div class="free-trial-input-object-data">
                            <input type="checkbox" value="true" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.BuyNow" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_BuyNow" data-val-required="The Buy now field is required." data-val="true" class="check-box"><input type="hidden" value="false" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.BuyNow">
                            <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.BuyNow" class="field-validation-valid"></span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>


                        <div class="site-button">
                            <input type="image" value="Submit" src="/Images/Buttons/1x1-transparent.png">
                        </div>

                </div>

            </div>
        </div>
    </div>
<div style="display:none;" class="free-trial-buy-now">
    <div class="free-trial-buy-now-input-data">
        <div class="free-trial-buy-now-input-data-first-column">
            <label class="large-white-text">
                Submit your details below to access the FREE trial or buy now
            </label>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="Glyn" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FirstName" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FirstName" data-val-required="The First Name field is required." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FirstName" class="field-validation-valid"></span>
                </div>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Surname" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Surname" data-val-required="The Surname field is required." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Surname" class="field-validation-valid"></span>
                </div>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="glyn.threadgold@yahoo.co.uk" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.EMailAddress" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_EMailAddress" data-val-required="The Email field is required." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.EMailAddress" class="field-validation-valid"></span>
                </div>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Telephone" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Telephone" data-val-required="The Phone field is required." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Telephone" class="field-validation-valid"></span>
                </div>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Company" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_Company" data-val-required="The Company field is required." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.Company" class="field-validation-valid"></span>
                </div>
                <div class="free-trial-input-text add-margins">
                    <input type="text" value="0" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.NumberOfEmployees" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_NumberOfEmployees" data-val-required="The Employees field is required." data-val-number="The field Employees must be a number." data-val="true" class="font-13px-white">
                    <span data-valmsg-replace="true" data-valmsg-for="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.NumberOfEmployees" class="field-validation-valid"></span>
                </div>
                <div class="add-margins">
                    <div style="width:100%;position:relative;height:auto;overflow:hidden;">
                        <div style="float:left;position:relative">
                            <input type="checkbox" value="true" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FreeTrial" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FreeTrial" data-val-required="The FREE Trial field is required." data-val="true" class="font-13px-white"><input type="hidden" value="false" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.FreeTrial">
                        </div>
                        <div style="float:left;position:relative">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_FreeTrial" class="font-13px-white">FREE Trial</label>
                        </div>
                    </div>
                </div>
                <div class="add-margins">
                    <div style="width:100%;position:relative;height:auto;overflow:hidden;">
                        <div style="float:left;position:relative">
                            <input type="checkbox" value="true" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.BuyNow" id="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_BuyNow" data-val-required="The Buy now field is required." data-val="true" class="font-13px-white"><input type="hidden" value="false" name="ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow.BuyNow">
                        </div>
                        <div style="float:left;position:relative">
                            <label for="ContainerModel_ChosenCloudApplicationModel_FreeTrialBuyNow_BuyNow" class="font-13px-white">Buy now</label>
                        </div>
                    </div>
                </div>
                <div class="add-margins">
                        <div class="site-button">
                            <input type="image" value="Submit" src="/Images/Buttons/1x1-transparent.png">
                        </div>
                </div>


        </div>
    </div>
</div>






<div class="product-overall-rating">
    <div style="float: left; width: 100%;">
        <table width="100%">
            <tbody><tr>
                <td colspan="2" class="product-overall-rating-header">
                    <label class="font-normal-22px-purple">
                        Rating and reviews</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="font-bold-11px-black">
                        Overall rating:</label>
                    <div class="overall-rating-container">
                        


        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purpleandblue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purpleandblue-cloud" value="purpleandbluecloud" name="ICON_PURPLEANDBLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="font-bold-11px-black">
                        Ease of use:</label>
                    <div class="overall-rating-container">
                        


        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="font-bold-11px-black">
                        Value for money:</label>
                    <div class="overall-rating-container">
                        


        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purpleandblue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purpleandblue-cloud" value="purpleandbluecloud" name="ICON_PURPLEANDBLUE_CLOUD">
        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="font-bold-11px-black">
                        Functionality:</label>
                    <div class="overall-rating-container">
                        


        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purple">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purple-cloud" value="purplecloud" name="ICON_PURPLE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="purpleandblue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-purpleandblue-cloud" value="purpleandbluecloud" name="ICON_PURPLEANDBLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                                    <div style="float:left;" class="site-button">
                            <input type="image" value="CreateReview" src="/Images/Buttons/1x1-transparent.png">
                        </div>
                </td>
            </tr>




        </tbody></table>
    </div>
</div>

    



<div class="product-rating">
    <div>
        <div style="float:left;">
            <table>
                <tbody><tr>
                    <td class="product-rating-header">
                        <label class="product-rating-label font-13px-white">Product rating</label>
                        <div class="overall-rating-container">


        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-normal-11px-black">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                …
                            </div>
                            <label class="font-normal-11px-black">Lorem ipsum dolor sit amet magna diam duis nonummy justo ut tempor sed sit feugait sed iriure diam vel magna magna blandit ullamcorper diam sadipscing veniam aliquyam tempor elitr dolor nihil lorem sanctus ea no autem ea facilisi ut et ipsum aliquip consetetur blandit nonumy magna accusam tincidunt et ut eirmod exerci est dolore dolor doming veniam consetetur amet et duo takimata delenit tempor vel gubergren gubergren exerci invidunt sanctus eum erat dolore quis tempor kasd exerci dolore amet et sed gubergren amet autem in elitr consetetur aliquam ipsum ipsum sed justo lobortis imperdiet consequat vel sadipscing invidunt sanctus praesent.</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>




<div class="product-rating">
    <div>
        <div style="float:left;">
            <table>
                <tbody><tr>
                    <td class="product-rating-header">
                        <label class="product-rating-label font-13px-white">Product rating</label>
                        <div class="overall-rating-container">


        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>
        <div class="overall-rating-icon-container" id="blue">
            <input type="image" class="cc-ui-rating-icon cc-ui-icon-blue-cloud" value="bluecloud" name="ICON_BLUE_CLOUD">
        </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-normal-11px-black">Lorem ipsum dolor.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                …
                            </div>
                            <label class="font-normal-11px-black">Lorem ipsum dolor sit amet takimata consectetuer dolores et stet takimata nonumy ea eirmod sed hendrerit sanctus et magna cum adipiscing vero volutpat est gubergren stet dolor iusto et accusam sadipscing diam vel rebum accusam augue sea voluptua esse et lorem magna nam eu rebum elitr eos suscipit ea vero sit at et lorem sit ea augue sit eu aliquyam diam est diam lorem autem in elitr elit et vulputate erat vero facilisi lorem elitr vulputate nibh aliquyam invidunt sanctus sadipscing tempor ea consequat hendrerit gubergren facilisi soluta accusam sit gubergren dolor aliquam ea facilisis hendrerit kasd autem consetetur dolores.</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

</div></form>





        </section>
        <br>
        <footer>
            
<form method="post" action="/Home.mvc/HeaderModel?tab=1" novalidate="novalidate">    <div class="footer-container">
        <br>
        <div class="footer-register-login">
            <a href="/Home.mvc/RegisterCloudware" class="font-normal-13px-purple">Register cloudware</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/VendorLogin" class="font-normal-13px-purple">Vendor login</a>
        </div>
        <div class="footer-logo-container">
            <div class="footer-logo">
                <img src="../../Images/CCW_Logo.png">
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="footer-site-various-hyperlinks">
            <a href="/Home.mvc/CompanyPage" class="font-normal-13px-black">Company</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/ContactPage" class="font-normal-13px-black">Contact</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/VendorsPage" class="font-normal-13px-black">Vendors</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/SitemapPage" class="font-normal-13px-black">Sitemap</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/PrivacyPolicyPage" class="font-normal-13px-black">Privacy policy</a>
            <label class="font-normal-13px-purple">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
            <a href="/Home.mvc/TermsOfUsePagePage" class="font-normal-13px-black">Terms of use</a>
        
        </div>
        <div class="footer-site-copyright">
            <label class="font-normal-13px-black">Copyright Compare Cloudware.com 2011. All Rights Reserved</label>
        </div>
    </div>
</form>
        </footer>
    </div>
</body>
</html>
